@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a {
    text-decoration: none;
}

.w-100 {
    width: 100%!important;
}

.pr-0 {
    padding-right: 0;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.pt-0 {
    padding-top: 0px;
}

.p-0 {
    padding: 0;
}

.px-1 {
    padding: 5px;
}

.px-2 {
    padding: 0 15px;
}

.mt-1 {
    margin-top: 15px;
}

.mt-2 {
    margin-top: 25px;
}

.mt-3 {
    margin-top: 35px;
}

.my-1 {
    margin: 10px 0;
}

.my-2 {
    margin: 25px 0;
}

.my-3 {
    margin: 35px 0;
}

.mr-2 {
    margin-right: 15px;
}

.bg-transparent {
    background-color: transparent;
}

.dark-bg {
    background-color: #252932;
}

.text-white {
    color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
}

.custom-block {
    padding: 30px 0;
}

.custom-btn a {
    color: #ffffff;
    text-decoration: none;
}

.btn:focus, .btn.focus {
    color: #ffffff;
    text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline: 0px auto -webkit-focus-ring-color; 
    outline-offset: 0;
}

.text-center {
    text-align: : center;
}

.bottom-btn { 
    margin-top: 125px;
}

.grey-btn {
    background-color: #A4A4A4;
    color: #ffffff;
}

.grey-btn:hover {
    color: #ffffff;
}

.border-0 {
    border: none;
}

.bg-white {
    background-color: #ffffff;
}

.green-text {
    color: #43B02A;
}

.green-bg {
    background-color: #43B02A;
}

.custom-header {
    background-color: transparent;
    border: 0;
    padding: 15px 0;
}

.custom-navbar {
    border-radius: 0;
}

.custom-navbar .navbar-collapse {
    padding: 0;
}

.custom-navbar ul {
    padding: 0;
    margin-top: 5px;
}

.custom-navbar li {
    list-style: none;
}

/* ---------------- Search bar ----------------- */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #43B02A;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm::placeholder {
    color: #43B02A;
    font-weight: 400;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 30px;
  border: 1px solid #43B02A;
  background: #43B02A;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
}

.search-bar {
  margin-top: 16px;
}

/* ----------- Resize the wrap to see the search bar change! ----------- */

/*.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

/* ------------ end ------------ */

.cart-btn {
    background-color: #43B02A;
    border-radius: 5px;
    margin-top: 16px;
}

.cart-btn a {
    padding: 5px 15px !important;
    color: #ffffff !important;
}
.cart-btn img {
    margin-right: 5px;
}

.main-bar .navbar-nav>li>a,.main-bar .navbar-nav>li>a:hover {
    color: #ffffff;
}

.main-bar .nav>li>a {
    padding: 5px 20px;
}

.dev-logo img {
    width: 250px;
    height: auto;
}

.custom-navbar .nav-item {
    padding: 8px 0px 8px 128px;
}

.custom-navbar .navbar-nav>li>a {
    padding: 0px;
}

/* ---------  mega-menu ---------- */

/*.custom-navbar {
    margin-bottom: 0;
}
.custom-navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
}

a#navbarDropdown {
    display: inline-flex;
}
a#navbarDropdown img {
    width: 24px;
    padding-right: 5px;
    ;
}
.menu-icon {
    padding-right: 12px;
}
.mr-auto, .mx-auto {
    margin-right: 0px !important;
}
.custom-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.full-dropdown {
    background-color: #ffffff;
}
.custom-navbar .dropdown {
    position: static;
}
.custom-navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    top: 45px;
}
.custom-navbar .dropdown-menu.open-menu {
    margin-top: 27px;
    width: 100%;
    left: 0;
    right: 0;
    top: 45px;
}

ul.dropdown-menu.open-menu.show {
    border-top: transparent;
    border-bottom: transparent;
    background: linear-gradient(to top, #092b74 10%, #121316 80%, #030744 10%)!important;
}


.custom-navbar .dropdown:hover .open.dropdown-menu, .navbar .dropdown .open.dropdown-menu:hover {
    height: 350px;
    display: block!important;
}
.custom-navbar .dropdown-menu {
    border: none;
}

.custom-navbar .navbar-nav .nav-link:focus, .custom-navbar .navbar-nav .nav-link:hover {
    color: rgb(250, 204, 72);
}

.custom-navbar .dropdown-menu>li>a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}
.custom-navbar .dropdown-menu {
    border-radius: 0px;
    background-color: transparent;
}

.custom-navbar .navbar-nav .active>.nav-link {
    color: #ffffff;
}

.custom-navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #f5f8f9;
    font-size: 14px;
}

.custom-navbar .navbar-nav .nav-link.active {
    color: #facc48 !important;
}
*/

.mega-dropdown ul.dropdown-menu.mega-dropdown-menu {
    margin-top: -3px;
    border:none !important;
}

/*.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 15%;
    z-index: 10;
}*/

.main-navbar .dropdown-menu {
    background-color: transparent !important;
    padding-top: 0px !important;
}

.main-navbar .drop-container img {
    padding: 15px;
}

.main-navbar .drop-container {
    background-color: #ffffff;
    margin-top: 0px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, .4);
    border-radius: 8px;
}

.main-navbar {
    background-color: #43B02A;
    border-color: #43B02A;
    border-radius: 0px;
    margin-bottom: 0;
}

.main-navbar .nav>li>a:hover, .main-navbar .nav>li>a:focus {
    background-color: transparent;
}

.ml-12 {
    margin-left: 12px;
}

.main-navbar li a {
    color: #ffffff;
    padding: 10px 0;
    margin-top: 3px;
}

.main-navbar li a img {
    margin-right: 8px;
}

.mega-drop .navbar-nav {
    width: 100%;
}

.mega-drop li.dropdown.mega-dropdown {
    width: 18.66667%;
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}


@media (min-width: 768px) and (max-width: 1199px) {
    .mega-drop li.dropdown.mega-dropdown {
        width: 17.66667%;
    }
}

/* ---------  main-section ---------- */

.section-one {
    margin-top: 145px;
}

.section-bg {
    background-color: #F0F0F0;
}

.store-section {
    padding: 30px 0;
}

.block-h2 {
    color: #707070;
}

/* ---------  thumbnail-slider ---------- */

.store-section .carousel {
    padding: 0 15px;
    margin-top: 50px;
}

.store-section .carousel-control {
    top: 30%;
}

.store-section .carousel-control img {
    width:45%;
}

.store-block {
    background-color: #ffffff;
    padding: 20px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, .06);
}

#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  overflow: hidden;
}

#slider-text h2 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
  }

#itemslider h4{
  font-weight: 400;
  font-size: 12px;
  margin: 10px auto 3px;
}
#itemslider h5{
  font-weight: bold;
  font-size: 12px;
  margin: 3px auto 2px;
}
#itemslider h6{
  font-weight: 300;;
  font-size: 10px;
  margin: 2px auto 5px;
}
.badge {
  background: #b20c0c;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 31px;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid #FFF;
  box-shadow: 0 0 0 1px #b20c0c;
  top: 5px;
  right: 25%;
}
#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
    #slider-control img {
      padding-top: 70px;
      margin: 0 auto;
    }
}

.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left: -5px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: -5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3,
  .carousel-showmanymoveone .carousel-inner .cloneditem-4,
  .carousel-showmanymoveone .carousel-inner .cloneditem-5,
  .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

/* ------------ Product Cards ---------- */

.product-category {
    margin: 30px 0;
}

.product-category a {
    text-decoration: none;
}

.product-card {
    border-radius: 15px;
    border: none;
    padding: 20px;
    transition: transform .5s;
    box-shadow: 0 5px 13px rgba(0, 0, 0, .06);
}

.product-card:hover {
    transform: scale(1.08);
}

.product-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* ---------  popular-items ---------- */

.popular-items {
    margin-bottom: 50px;
}

.popular-items .store-block {
    background-color: #ffffff;
    padding: 20px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, .0);
}

/* ---------  footer ---------- */

.grey-bg {
    background-color: #252932;
    padding: 50px 0 0;
}

.footer-inner {
    margin: auto;
    overflow: hidden;
    background: url(../imgs/footer-img.png) no-repeat bottom right;
}

.ftr-list,.ftr-links {
    color: #ffffff;
    line-height: 35px;
    margin-bottom: 150px;
}

.ftr-list {
    list-style: none;
}

.ftr-list img {
    width: 210px;
}


/* ---------  order-table ---------- */

.custom-table {
    padding: 25px 30px;
    margin: 30px 0;
    color: #707070;
}

.order-history table,.order-history thead,.order-history tr,.order-history tbody,.order-history th,.order-history td {
  text-align: center;
}

.order-history .table td {
  text-align: center;
}

.custom-table .table>thead>tr>th, .custom-table .table>tbody>tr>th, .custom-table .table>tfoot>tr>th, .custom-table .table>thead>tr>td, .custom-table .table>tbody>tr>td, .custom-table .table>tfoot>tr>td {
    vertical-align: middle;
}

.order-history .table>tbody>tr>th a{
    color: #43B02A;
    text-decoration: none;
}

.border-btn, .border-btn:hover {
    border: 1px solid #43B02A;
    color: #43B02A;
}

.order-detail img {
    width: 8%;
    margin-right: 20px;
}

.border-btn.btn:hover, .border-btn.btn:focus, .border-btn.btn.focus {
    color: #43B02A;
    text-decoration: none;
}

.border-btm {
    border-bottom: 2px solid #dddddd;
}

.cart-section {
    margin-top: 40px;
}

.payment-details {
    border: 1px solid #dddddd;
    padding: 15px;
}

.place-order-table {
    z-index: 10000;
    width: 458px;
    position: fixed;
    background-color: #ffffff;
    padding: 40px 25px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, .06);

}

.text-bold {
    font-weight: 800;
}

.place-order-table td {
    border-bottom: 1px solid #dddddd;
    border-top: none !important;
}

.payment-details td {
    border: 0!important;
}

td.price {
    text-align: end;
}



/* ---------- Modal ---------- */

.custom-modal .modal-content {
    padding: 25px;
    color: #707070;
}

.custom-modal .modal-header {
    border-bottom: none;
    margin-top: 10px;
    text-align: center;
}

.custom-modal .radio, .custom-modal .checkbox {
    margin-bottom: 25px;
}

.custom-btn, .custom-btn:hover {
    color: #ffffff;
}

.custom-modal img#img-upload {
    position: relative;
    width: 20%;
    left: -81%;
}
.custom-modal .upload-img {
    width: 15%;
    margin-right: 10px;
}

.custom-modal .input-group-btn { 
    width: 40%;
}

.custom-modal .input-group-btn:first-child>.btn, .custom-modal .input-group-btn:first-child>.btn-group {
    border-radius: 0;
}

.custom-modal #imgInp {
    margin-top: 6px;
    width: 100%;
    cursor: pointer;
}

.custom-modal .input-group-btn:first-child>.btn:hover, .custom-modal .input-group-btn:first-child>.btn-group:hover {
    background-color: #ffffff;
}

.custom-modal input[type=file] {
    display: -webkit-inline-box;
}

.btn-file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0; left:0;
    opacity:0; 
}

.modal-footer {
    border: none;
}


@media (min-width:320px) and (max-width: 767px) {
    .pr-0 {
        padding-right: 15px;
    }
}

@media (min-width: 768px) {
    .custom-modal .modal-dialog {
        width: 450px;
        margin: 30px auto;
    }
}


/* --------------- item number ascend descend ------------------ */

.inline-group {
  max-width: 12rem;
  padding: .5rem;
  display: inline-flex;
}

.inline-group .form-control {
  text-align: right;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 15% !important;
}

.quantity-field .form-control {
    height: 27px;
    padding: 6px 8px;
}

.quantity-field .input-group .form-control {
    width: 27px;
}

.quantity-field .btn-minus, .quantity-field .btn-plus {
    margin-top: 4px;
}

.quantity-field .btn-minus {
    margin-right: 3px;
}

.quantity-field .btn-plus {
    margin-left: 3px;
}


/* ----------------- sidebar modal -------------------- */

.modal.left .modal-dialog,
    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
             -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }
    
    .modal.left .modal-body,
    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

/*Left*/
    .modal.left.fade .modal-dialog{
        left: -320px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
           -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
             -o-transition: opacity 0.3s linear, left 0.3s ease-out;
                transition: opacity 0.3s linear, left 0.3s ease-out;
    }
    
    .modal.left.fade.in .modal-dialog{
        left: 0;
    }
        
/*Right*/
    .modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
           -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
             -o-transition: opacity 0.3s linear, right 0.3s ease-out;
                transition: opacity 0.3s linear, right 0.3s ease-out;
    }
    
    .modal.right.fade.in .modal-dialog {
        right: 0;
    }

/* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

/* ----- v CAN BE DELETED v ----- */

.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #FFFFFF;
}

.btn-demo:focus {
    outline: 0;
}

.demo-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #212121;
    text-align: center;
}

.demo-footer > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

table.cart-list {
    margin-bottom: 0;
}

table.cart-list td, table.cart-item-list td {
    border-top: 0 !important;
}

.items-bar {
    height: 450px;
}

.row-bd {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
}

.cart-item-list {
    color: #707070;
    font-size: 12px;
}

.cart-item-list.table>tbody>tr>td {
    padding: 0 8px 8px 8px;
}

.item-price del {
    color: red;
    font-size: 12px;
}

.item-name, .delete-item {
    height: 70px;
    color: #707070;
}

.side-fixed {
    padding-top: 20px;
    background-color: #F0F0F0;
}


